/* responsive styles */
@media screen and (max-width: 768px) {
  .application {
    grid-template-rows: auto 1fr;
    gap: 1rem;
  }

  .form_container {
    font-size: x-small;
  }

  form input, form select {
    font-size: x-small;
    padding: 0.1rem;
  }

  form button {
    font-size: x-small;
    padding: 0.5rem !important;
  }

  .list_container {
    font-size: x-small;
  }

  .delete_button {
    font-size: x-small;
    padding: 0.5rem !important;
  }

}

/* application styles */

.application {
  display: grid;
  grid-template-rows: auto 1fr; 
  gap: 1.25rem;
}

/* input styles */

.form_container {
  padding: 1.25rem;
  background-color: aliceblue;
  text-align: center;
}

h1 {
  text-align: center;
  justify-content: center;
}

input {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.2rem;
}

select {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.2rem;
}

.add_button {
  padding: 1rem;
  border: 0.125rem solid black;
  background-color: lightgreen;
  border-radius: 0.2rem;
}

.add_button:hover {
  background-color: darkgreen;
  color: white;
}

.error_message {
  font-weight: bold;
  color: red;
}

/* list styles */

.list_container {
  padding: 1.25rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  border: 0.125rem solid black;
  padding: 0.5rem;
  font-weight: bold;
  background-color: lightblue;
}

table td {
  border: 0.125rem solid black;
}

.delete_button {
  padding: 1rem;
  border: 0.125rem solid black;
  border-radius: 0.2rem;
  background-color: red;
}

.delete_button:hover {
  background-color: darkred;
  color: white;
}

.total_amount {
  font-weight: bold;
  font-size: 1.25rem;
}
